@{
    ViewBag.Title = "Confirmacion";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div style="background:#b200ff;color:white;padding:50px;text-align:center">
    <div>
        <div style="background-image: url(https://yoguidrogui.com/wp-content/uploads/2020/11/mejores-perifericos-gamer-baratos-imprescindibles-para-tu-pc.jpg);width:960px;height:300px; margin-left:240px">
            <h1 style="color:#FB5859;padding:100px;margin-left:50px;font-size:3.5em">💀GAMESHOP👾</h1>
        </div>
        <h3>
            GRACIAS POR REGISTRARTE EN GAME SHOP <br />
              THE FUTURE IS NOW
        </h3>
    </div>
  </div>
    <div style="text-align:center; ">
        @Html.ActionLink("Regresar", "Index")
    </div>
